<form class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="form-group ">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Correo</label>
                <input type="email" [(ngModel)]="user.email" name="email" class="form-control" id="inputEmail3">
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="form-group ">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Contraseña</label>
                <input type="password" [(ngModel)]="user.password" name="password" class="form-control" id="inputEmail3">
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <label for="inputState">Rol</label>
            <select id="inputState" class="form-control">
                <option selected>Seleccionar</option>
                <option>Administrador</option>
                <option>Promotor</option>
            </select>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
           <div class="form-group">
                <button (click)="onAdd();" type="submit" class="btn btn-primary top-mg-md">Registrar</button>
           </div>
        </div>
    </div>
    
    
</form>