<div class="container">
    <div class="card">
        <div class="card-header">
            Nueva cotización
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <label for="inputState">Lote</label>
                    <select id="inputState" class="form-control">
                        <option selected>Seleccionar</option>

                    </select>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <label for="inputState">Manzana</label>
                    <select id="inputState" class="form-control">
                        <option selected>Seleccionar</option>

                    </select>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group ">
                        <label for="inputState">Enganche</label>
                        <input type="number" [(ngModel)]="enganche" name="enganche" class="form-control"
                            id="inputEmail3">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group ">
                        <label for="inputState">Anualidad</label>
                        <input type="number" [(ngModel)]="anualidad" name="anualidad" class="form-control"
                            id="inputEmail3">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <button (click)="calculate();" type="submit" class="btn btn-primary top-mg-md">Calcular</button>
                    </div>
                    <div>
                        <ul class="list-group" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <li class="list-group-item"> {{mensualidad}}</li>

                        </ul>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" *ngFor="let pago of pagosiva">
                                <div class="form-group ">
                                    <label for="inputState">Año </label>
                                    <ul class="list-group">
                                        <li class="list-group-item"> {{pago}}</li>

                                    </ul>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>
        </div>

    </div>
</div>