<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <button routerLink="/admin/lotes/add" class="btn btn-success btm-mg-md top-mg-md"> Agregar</button>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Manzana</th>
                        <th scope="col">Lote</th>
                        <th scope="col">Medida norte</th>
                        <th scope="col">Medida sur</th>
                        <th scope="col">Medida poniente</th>
                        <th scope="col">Medida oriente</th>
                        <th scope="col">Superficie</th>
                        <th scope="col">Unidad</th>
                        <th scope="col">Precio (m²)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users">
                        <th scope="row">{{user.id}}</th>
                        <td>{{user.correo}}</td>
                        <td>Otto</td>
                        <td>
                            <button class="btn btn-primary">Actualizar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>