<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <button routerLink="/admin/users/add" class="btn btn-success btm-mg-md top-mg-md"> Agregar</button>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="text-center" scope="col">Correo</th>
                        <th class="text-center" scope="col">Rol</th>
                        <th class="text-center" scope="col">Fecha registro</th>
                        <th class="text-center" scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users">
                        <td class="text-center">{{user.correo}}</td>
                        <td class="text-center">Otto</td>
                        <td class="text-center">{{user.created_at | date}}</td>
                        <td class="text-center">
                            <button class="btn btn-primary">Actualizar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>