<form class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="form-group ">
                <label for="inputEmail3" class="col-sm-0 col-form-label">Nombre</label>
                <input type="email" [(ngModel)]="user.email" name="email" class="form-control" id="inputEmail3">
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <label for="validationCustom01">Apellido paterno</label>
            <input type="text" class="form-control" id="validationCustom01" placeholder="" value="" required>

        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <label for="validationCustom02">Apellido materno</label>
            <input type="text" class="form-control" id="validationCustom02" placeholder="" value="" required>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <label for="validationCustom01">Teléfono</label>
            <input type="text" class="form-control" id="validationCustom01" placeholder="" value="" required>

        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <label for="validationCustom02">Correo</label>
            <input type="text" class="form-control" id="validationCustom02" placeholder="" value="" required>

        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="form-group">
                <button (click)="onAdd();" type="submit" class="btn btn-primary top-mg-md">Registrar</button>
            </div>
        </div>
    </div>





</form>