<form class="needs-validation" novalidate>
    <div class="container">
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <label for="validationCustom01">Manzana</label>
        <input type="text" class="form-control" id="validationCustom01" placeholder="" value="" required>
        
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <label for="validationCustom02">Lote</label>
        <input type="text" class="form-control" id="validationCustom02" placeholder="" value="" required>
        
    </div>
</div>
        
        <div class="row">
            
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                <label for="validationCustom02">Medida Norte</label>
                <input type="text" class="form-control" id="validationCustom02" placeholder="" value="" required>
                
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                <label for="validationCustom02">Medida Sur</label>
                <input type="text" class="form-control" id="validationCustom02" placeholder="" value="" required>
               
            </div>
            <div class="col-md-3 mb-3">
                <label for="validationCustom04">Medida Poniente</label>
                <input type="text" class="form-control" id="validationCustom04" placeholder="" required>
                
            </div>
            <div class="col-md-3 mb-3">
                <label for="validationCustom04">Medida Oriente</label>
                <input type="text" class="form-control" id="validationCustom04" placeholder="" required>
                
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <label for="validationCustom04">Superficie</label>
                <input type="text" class="form-control" id="validationCustom04" placeholder="" required>
                
            </div>
            
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <label for="inputState">Unidad</label>
                <select id="inputState" class="form-control">
                    <option selected>m²</option>
                    <option>m³</option>
                </select>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <label for="validationCustom04">Precio (m²)</label>
                <input type="text" class="form-control" id="validationCustom04" placeholder="" required>
                
            </div>
            
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary top-mg-md">Registrar</button>
                </div>
        </div>
    
        </div>
        

  
    </div>

</form>

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>